@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime: #ff0000;
}

.raised {
  box-shadow: 1px 1px 0 0 black, 2px 2px 0 0 black, 3px 3px 0 0 black,
    4px 4px 0 0 black, 5px 5px 0 0 black, 6px 6px 0 0 var(--prime);
}

.raised:hover {
  translate: 5px 5px;
  box-shadow: none;
}

.raised:focus-within {
  translate: 5px 5px;
  box-shadow: none;
  outline: 1px solid var(--prime);
}